@model RealTimeChat.UI.API.Models.MainModel
<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>AvnonWebApplication</title>
    <base href="@Url.Content("~/")" />

    <environment names="Development">
        <link rel="stylesheet" href="~/css/jquery.ui.core.css" />
        <link rel="stylesheet" href="~/css/jquery.ui.theme.css" />
        <link rel="stylesheet" href="~/css/main.css"/>
        <link href="~/js/ng-notify.min.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/jquery.ui.core.css" />
        <link rel="stylesheet" href="~/css/jquery.ui.theme.css" />
        <link rel="stylesheet" href="~/css/main.min.css"/>
        <link href="~/js/ng-notify.min.css" rel="stylesheet" />
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body ng-controller="rootController" cz-shortcut-listen="true">
    <ng-view></ng-view>

    <script type="text/javascript">
        GlobalConfig = {
            baseUrl: "@Url.Content("~/")",
            baseApiUlr: "@Url.Content("~/api/")",
            PubNubSettings: JSON.parse('@Json.Serialize(Model.PubNubSettings)'),
            NoAvatarUrl: "@Url.Content("~/images/uploads/user_icon.png")"
        };
    </script>
    <environment names="Development">
        <script type="text/javascript" src="~/js/jquery.min.js"></script>
        <script type="text/javascript" src="~/js/jquery.ui.core.js"></script>
        <script type="text/javascript" src="~/js/jquery.ui.widget.js"></script>
        <script type="text/javascript" src="~/js/jquery.ui.position.js"></script>
        <script type="text/javascript" src="~/js/jquery.ui.selectmenu.js"></script>
        <script type="text/javascript" src="~/js/lodash.js"></script>
        <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/js/pubnub-3.15.2.js"></script>
        <script type="text/javascript" src="~/js/moment.min.js"></script>
        <script type="text/javascript" src="~/lib/angular/angular.js"></script>
        <script type="text/javascript" src="~/js/angular-route/angular-route.js"></script>
        <script type="text/javascript" src="~/js/ng-notify.min.js"></script>
        <script type="text/javascript" src="~/js/pubnub-angular.js"></script>
        <script type="text/javascript" src="~/js/ng-file-upload/ng-file-upload-shim.min.js"></script>
        <script type="text/javascript" src="~/js/ng-file-upload/ng-file-upload.js"></script>
        <script type="text/javascript" src="~/lib/ngstorage/ngStorage.js"></script>
        <script type="text/javascript" src="~/app/app.js"></script>
        <script type="text/javascript" src="~/app/controllers/file-views.js"></script>
        <script type="text/javascript" src="~/app/directives/contact-list.js"></script>
        <script type="text/javascript" src="~/app/directives/files-views.js"></script>
        <script type="text/javascript" src="~/app/directives/top-header.js"></script>
        <script type="text/javascript" src="~/app/directives/logout.js"></script>
        <script type="text/javascript" src="~/app/controllers/contacts.js"></script>
        <script type="text/javascript" src="~/app/services/http-interceptor.js"></script>
        <script type="text/javascript" src="~/app/services/pubnub-service.js"></script>
        <script type="text/javascript" src="~/app/root.js"></script>
        <script type="text/javascript" src="~/app/controllers/home.js"></script>
        <script type="text/javascript" src="~/app/controllers/login.js"></script>
        <script type="text/javascript" src="~/app/controllers/logout.js"></script>
        <script type="text/javascript" src="~/app/directives/message-list.js"></script>
        <script type="text/javascript" src="~/app/directives/user-avatar.js"></script>
        <script type="text/javascript" src="~/js/jquery.main.js"></script>
        <script type="text/javascript" src="~/app/services/context-service.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script type="text/javascript" src="~/js/jquery.min.js"></script>
        <script type="text/javascript" src="~/js/jquery.ui.core.js"></script>
        <script type="text/javascript" src="~/js/jquery.ui.widget.js"></script>
        <script type="text/javascript" src="~/js/jquery.ui.position.js"></script>
        <script type="text/javascript" src="~/js/jquery.ui.selectmenu.js"></script>
        <script type="text/javascript" src="~/js/lodash.js"></script>
        <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/js/pubnub-3.15.2.js"></script>
        <script type="text/javascript" src="~/js/moment.min.js"></script>
        <script type="text/javascript" src="~/lib/angular/angular.js"></script>
        <script type="text/javascript" src="~/js/ng-notify.min.js"></script>
        <script type="text/javascript" src="~/js/ng-file-upload/ng-file-upload-shim.min.js"></script>
        <script type="text/javascript" src="~/js/ng-file-upload/ng-file-upload.js"></script>
        <script type="text/javascript" src="~/app/app.js"></script>
        <script type="text/javascript" src="~/app/controllers/base.js"></script>
        <script type="text/javascript" src="~/app/controllers/file-views.js"></script>
        <script type="text/javascript" src="~/app/directives/contact-list.js"></script>
        <script type="text/javascript" src="~/app/directives/files-views.js"></script>
        <script type="text/javascript" src="~/app/directives/top-header.js"></script>
        <script type="text/javascript" src="~/app/directives/logout.js"></script>
        <script type="text/javascript" src="~/app/controllers/contacts.js"></script>
        <script type="text/javascript" src="~/lib/ngstorage/ngStorage.js"></script>
        <script type="text/javascript" src="~/js/pubnub-angular.js"></script>
        <script type="text/javascript" src="~/app/services/http-interceptor.js"></script>
        <script type="text/javascript" src="~/app/services/pubnub-service.js"></script>
        <script type="text/javascript" src="~/app/root.js"></script>
        <script type="text/javascript" src="~/app/controllers/home.js"></script>
        <script type="text/javascript" src="~/js/angular-route/angular-route.js"></script>
        <script type="text/javascript" src="~/app/controllers/login.js"></script>
        <script type="text/javascript" src="~/app/controllers/logout.js"></script>
        <script type="text/javascript" src="~/app/directives/message-list.js"></script>
        <script type="text/javascript" src="~/app/directives/user-avatar.js"></script>
        <script type="text/javascript" src="~/js/jquery.main.js"></script>
    
    </environment>

</body>
</html>
